.logo, .product {
    display: none;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.shoe {
    color: blue;
}

.productBackground {
    width: 45%;
    height: 475px;
    position: relative;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1);
}

.info {
    width: 50%;
}