.logo, .product {
    display: none;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBackground {
    width: 50%;
}

.info {
    width: 50%;
}